@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html, body {
    font-family: Playfair Display !important;
    background-color: #66b9a9 !important;
    background-image: none !important;
}

.mw-page-container {
    background-color: transparent !important;
    color: #701f54 !important;
}

a {
    color: #4b0082 !important;
}

h2, h3, h4, h5, h6 {
    color: #fe1d2c !important;
}

.mw-editsection, .mw-editsection-like {
    font-family: Playfair Display !important;
}

.mw-sidebar {
background-image: linear-gradient(to bottom,#9400d3 0%,#ffff00 10%,#ff0000 90%,#ffafc7 100%) !important;
}

.vector-menu-portal .vector-menu-heading {
    color: #00c2de !important;
}

.mw-body h1, .mw-body-content h1, .mw-body-content h2 {
    font-family: Playfair Display !important;
}

i {
    font-style: normal !important;
}

.homonymie {
    background-color: #d76ad2 !important;
    font-style: normal !important;
}

.toc, .toccolours {
    border: 1px solid white !important;
    background-color: #ff0085 !important;
}

.tocnumber {
    color: #8d150b !important;
}
.toctogglelabel {
    color: #7453f0 !important;
}

div.infobox_v3 {
    background: #12ac52 !important;
    border: 1px solid #d58555 !important;
}

.vector-menu-tabs .selected {
    background: #a1399f !important;
}

.vector-menu-tabs li {
    background-image: linear-gradient(to top,#edddbc 0,#e6c320 1px,#e876d2 100%) !important;
}

hr {
    background-color: #1dbefd !important;
}

.mw-message-box, .messagebox {
    background-color: #cd196f !important;
    border-color: #0000ff !important;
}

.mw-message-box, .messagebox, .errorbox, .warningbox, .successbox {
    color: #ddaa00 !important;
}

caption {
    color: white !important;
    text-align: center;
    background-color: #1a9dd0 !important;
}

.bandeau-niveau-modere {
    border-color: #12b283 !important;
    background-color: #edc70e !important;
}

.infobox_v2 {
    background: #df50ad !important;
    color: #1c3462 !important;
    border: 1px solid #66b9a9 !important;
    border-spacing: 5px;
}

.bandeau-niveau-detail, .bandeau-section.bandeau-niveau-information {
    border-color: #fe1d2c !important;
    background-color: #4745e2 !important;
}

div.thumbinner {
    border: 1px solid #ff7f00 !important;
    background-color: #b5ab89 !important;
}

.mw-body h1, .mw-body-content h1 {
    font-size: 3em !important;
}

h1 {
    color: #fd3444 !important;
}

.wikitable {
    background-color: #104676 !important;
    color: #65e617 !important;
    border: 1px solid #5c7256 !important;
}

.boite-grise {
    border-color: #cd46a9 !important;
    background-color: #198a98 !important;
}

div.navbox-container {
    border: 1px solid #fe5736 !important;
}

table.navbox {
    background: #b99ae8 !important;
}

th.navbox-title {
    background: #4460a6 !important;
}

th.navbox-group {
    background: #b1bfbf !important;
}

td.navbox-even {
    background: #59b70e !important;
}

#bandeau-portail {
    border: solid #3035a4 1px !important;
    background-color: #7fc6d8 !important;
}

.bandeau-niveau-neutre {
    border-color: #806a96 !important;
    background: #89db46 !important;
}

.catlinks {
    border: 1px solid #d31cf8 !important;
    background-color: #f92c77 !important;
}

.bandeau-niveau-ebauche, .bandeau-niveau-information {
    border-color: #5529ab !important;
    background-color: #6a5ed1 !important;
}

.uls-lcd {
    background-color: #c5dd32 !important;
}

#uls-settings-block {
    background-color: #79c2a9 !important;
}

#uls-settings-block > button {
    color: #867382 !important;
}

.uls-no-found-more {
    color: #ce8512 !important;
}
.uls-menu .uls-no-results-view .uls-no-found-more {
    background-color: #f65ced !important;
}

tr {
    background-color: #e045b7 !important;
    color: #42b402 !important;
}

th {
    background-color: #55a963 !important;
    color: #701f54 !important;
}

div {
    background-color: #4da3a9 !important;
    color: #104676 !important;
}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet {
    color: yellow !important;
}

.skin-vector:not(.skin-vector-legacy) .wb-langlinks-link a {
    color: orange !important;
}